body {
  font-family: Arial;
  line-height: `2;
  margin: 25px;
  background-color: tomato;
  color: #333;
}

h1 {
  text-align: center;
  color: #2b3e50;
}

h2 {
  margin-top: 20px;
  color: #2b3e50;
}

ul {
  margin: 15px 0;
  padding-left: 20px;
}

ul li {
  margin: 10px 0;
}

img {
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.center-image {
  text-align: center;   /* Ensures the image stays centered */
  margin: 20px 0;
}